{
  "presets": ["flow", "react", "es2015"],
  "env": {
    "development": {
      "plugins": ["styled-components"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "server": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
